<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="images/74677048_2851858818210646_8973383933542531072_n.jpg" alt="Rishabh Goyal">
    </div>

    {{>footer}}
</body>

</html>